In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("shopping_trends.csv")

In [33]:
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

In [4]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.749949,25.351538
std,1125.977353,15.207589,23.685392,0.716223,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.700000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [5]:
df.describe(include='O')

,Gender,Item Purchased,Category,Location,Size,Color,Season,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Preferred Payment Method,Frequency of Purchases
count,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900
unique,2,25,4,50,4,25,4,2,6,6,2,2,6,7
top,Male,Blouse,Clothing,Montana,M,Olive,Spring,No,Credit Card,Free Shipping,No,No,PayPal,Every 3 Months
freq,2652,171,1737,96,1755,177,999,2847,696,675,2223,2223,677,584

In [7]:
df.isnull().any()

Customer ID                 False
Age                         False
Gender                      False
Item Purchased              False
Category                    False
Purchase Amount (USD)       False
Location                    False
Size                        False
Color                       False
Season                      False
Review Rating               False
Subscription Status         False
Payment Method              False
Shipping Type               False
Discount Applied            False
Promo Code Used             False
Previous Purchases          False
Preferred Payment Method    False
Frequency of Purchases      False
dtype: bool

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age                       3900 non-null   int64
 2   Gender                    3900 non-null   object
 3   Item Purchased            3900 non-null   object
 4   Category                  3900 non-null   object
 5   Purchase Amount (USD)     3900 non-null   int64
 6   Location                  3900 non-null   object
 7   Size                      3900 non-null   object
 8   Color                     3900 non-null   object
 9   Season                    3900 non-null   object
 10  Review Rating             3900 non-null   float64
 11  Subscription Status       3900 non-null   object
 12  Payment Method            3900 non-null   object
 13  Shipping Type             3900 non-null   object
 14  Discount Applied          3900 non-null   object
 15  Promo Code Used           3900 non-null   object
 16  Previous Purchases        3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases    3900 non-null   object
dtypes: float64(1), int64(4), object(14)
memory usage: 579.0+ KB

In [10]:
df.isnull().sum()

Customer ID                 0
Age                         0
Gender                      0
Item Purchased              0
Category                    0
Purchase Amount (USD)       0
Location                    0
Size                        0
Color                       0
Season                      0
Review Rating               0
Subscription Status         0
Payment Method              0
Shipping Type               0
Discount Applied            0
Promo Code Used             0
Previous Purchases          0
Preferred Payment Method    0
Frequency of Purchases      0
dtype: int64

In [11]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually

Numeric 컬럼 상관계수
피어슨, 스피어만 , 켄달 타우 모두 비슷하게 매우 낮은 값

In [13]:
df.corr(numeric_only=True)

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
Customer ID,1.000000,-0.004079,0.011048,0.001343,-0.039159
Age,-0.004079,1.000000,-0.010424,-0.021949,0.040445
Purchase Amount (USD),0.011048,-0.010424,1.000000,0.030776,0.008063
Review Rating,0.001343,-0.021949,0.030776,1.000000,0.004229
Previous Purchases,-0.039159,0.040445,0.008063,0.004229,1.000000

In [24]:
df.loc[:, ['Age', 'Purchase Amount (USD)', 'Review Rating']].corr(method='pearson')

                            Age  Purchase Amount (USD)  Review Rating
Age                    1.000000              -0.010424      -0.021949
Purchase Amount (USD) -0.010424               1.000000       0.030776
Review Rating         -0.021949               0.030776       1.000000

Boolean 값 (Yes, No) / 성별 1, 0으로 치환

In [4]:
df1 = df.copy()

In [5]:
df1.loc[df['Discount Applied']== 'Yes', 'Discount Applied'] = 1
df1.loc[df['Promo Code Used']== 'Yes', 'Promo Code Used'] = 1

df1.loc[df['Discount Applied']== 'No', 'Discount Applied'] = 0
df1.loc[df['Promo Code Used']== 'No', 'Promo Code Used'] = 0

In [6]:
df1.loc[df['Gender']=='Male', 'Gender'] = 1
df1.loc[df['Gender']=='Female', 'Gender'] = 0

In [40]:
df1.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,1,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,1,1,14,Venmo,Fortnightly
1,2,19,1,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,1,1,2,Cash,Fortnightly
2,3,50,1,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,1,1,23,Credit Card,Weekly
3,4,21,1,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,1,1,49,PayPal,Weekly
4,5,45,1,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,1,1,31,PayPal,Annually

계절, 지역별

In [14]:
df1.loc[:, ["Season", "Location", "Item Purchased", "Frequency of Purchases"]].groupby(["Season", "Location"]).first()

                     Item Purchased Frequency of Purchases
Season Location
Fall   Alabama                Boots            Fortnightly
       Alaska               Handbag               Annually
       Arizona             Sneakers              Bi-Weekly
       Arkansas               Shoes              Bi-Weekly
       California            Jacket              Quarterly
...                             ...                    ...
Winter Virginia               Shoes               Annually
       Washington           Sandals            Fortnightly
       West Virginia          Dress                Monthly
       Wisconsin             Hoodie               Annually
       Wyoming              Handbag               Annually

[200 rows x 2 columns]

In [38]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually

상품 색상 별 별점

In [20]:
df1.groupby(['Item Purchased', 'Color'])['Review Rating'].median()

Item Purchased  Color
Backpack        Beige        3.20
                Black        4.00
                Blue         4.20
                Brown        3.95
                Charcoal     4.20
                             ...
T-shirt         Teal         4.20
                Turquoise    4.20
                Violet       3.40
                White        4.10
                Yellow       4.00
Name: Review Rating, Length: 625, dtype: float64

지역별 판매액 총합

In [94]:
df1.groupby('Location')['Purchase Amount (USD)'].sum().sort_values()

Location
Kansas            3437
Hawaii            3752
Florida           3798
New Jersey        3802
Rhode Island      3871
Wisconsin         4196
Iowa              4201
New Hampshire     4219
Colorado          4222
Connecticut       4226
South Dakota      4236
Oregon            4243
Wyoming           4309
Arizona           4326
Oklahoma          4376
Massachusetts     4384
Maine             4388
Kentucky          4402
South Carolina    4439
Utah              4443
Michigan          4533
Washington        4623
Georgia           4645
Ohio              4649
Indiana           4655
Missouri          4691
Texas             4712
North Carolina    4742
Delaware          4758
Tennessee         4772
Maryland          4795
Arkansas          4828
Virginia          4842
Louisiana         4848
Vermont           4860
Alaska            4867
Mississippi       4883
Pennsylvania      4926
Minnesota         4977
New Mexico        5014
Nebraska          5172
West Virginia     5174
North Dakota      5220
New York          5257
Alabama           5261
Nevada            5514
Idaho             5587
California        5605
Illinois          5617
Montana           5784
Name: Purchase Amount (USD), dtype: int64

상품의 쿠폰 사용 여부 별 별점 중간값

In [110]:
df1.groupby(['Item Purchased', 'Promo Code Used'])['Review Rating'].median()

Item Purchased  Promo Code Used
Backpack        0                  3.50
                1                  3.85
Belt            0                  3.60
                1                  3.80
Blouse          0                  3.70
                1                  3.60
Boots           0                  3.70
                1                  4.00
Coat            0                  3.80
                1                  3.90
Dress           0                  3.70
                1                  3.60
Gloves          0                  4.05
                1                  3.90
Handbag         0                  3.90
                1                  3.60
Hat             0                  3.90
                1                  3.80
Hoodie          0                  3.80
                1                  3.65
Jacket          0                  3.90
                1                  3.60
Jeans           0                  3.50
                1                  3.90
Jewelry         0                  3.80
                1                  3.85
Pants           0                  3.60
                1                  3.80
Sandals         0                  3.90
                1                  4.00
Scarf           0                  3.60
                1                  3.70
Shirt           0                  3.50
                1                  3.60
Shoes           0                  3.80
                1                  3.60
Shorts          0                  3.70
                1                  3.60
Skirt           0                  3.90
                1                  3.90
Sneakers        0                  3.90
                1                  3.80
Socks           0                  3.80
                1                  3.50
Sunglasses      0                  3.70
                1                  3.60
Sweater         0                  3.80
                1                  3.70
T-shirt         0                  3.80
                1                  3.90
Name: Review Rating, dtype: float64

전체 상품별 별점 중간값

In [111]:
df1.groupby('Item Purchased')['Review Rating'].median()

Item Purchased
Backpack      3.70
Belt          3.70
Blouse        3.70
Boots         3.90
Coat          3.80
Dress         3.70
Gloves        3.90
Handbag       3.80
Hat           3.90
Hoodie        3.70
Jacket        3.70
Jeans         3.65
Jewelry       3.80
Pants         3.70
Sandals       3.95
Scarf         3.60
Shirt         3.50
Shoes         3.70
Shorts        3.70
Skirt         3.90
Sneakers      3.80
Socks         3.70
Sunglasses    3.60
Sweater       3.80
T-shirt       3.80
Name: Review Rating, dtype: float64

In [77]:
df1.groupby(['Frequency of Purchases', 'Item Purchased']).size()

Frequency of Purchases  Item Purchased
Annually                Backpack          22
                        Belt              24
                        Blouse            32
                        Boots             15
                        Coat              23
                                          ..
Weekly                  Sneakers          20
                        Socks             14
                        Sunglasses        24
                        Sweater           31
                        T-shirt           19
Length: 175, dtype: int64

계절별 카테고리 판매량

In [18]:

seasonal_trends = df1.groupby(['Season', 'Category'])['Purchase Amount (USD)'].count().unstack().fillna(0)
seasonal_trends

/tmp/ipykernel_163454/1389271244.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  review_rating_relationship = df1.groupby('Review Rating Category')['Purchase Amount (USD)'].count()

(Category  Accessories  Clothing  Footwear  Outerwear
 Season
 Fall              324       427       136         88
 Spring            301       454       163         81
 Summer            312       408       160         75
 Winter            303       448       140         80,
 Review Rating Category
 Low        847
 Medium    1590
 High      1463
 Name: Purchase Amount (USD), dtype: int64,
 Subscription Status
 No     25.080436
 Yes    26.084520
 Name: Previous Purchases, dtype: float64)

별점 분포 ( 0~5 단계라 낮음 구간을 조금 넓게 잡았습니다.)

In [ ]:
df1['Review Rating Category'] = pd.cut(df1['Review Rating'], bins=[0, 3, 4, 5], labels=['Low', 'Medium', 'High'])
review_rating_relationship = df1.groupby('Review Rating Category')['Purchase Amount (USD)'].count()

review_rating_relationship

구독 여부와 구매 빈도

In [ ]:
subscription_status_relationship = df1.groupby('Subscription Status')['Previous Purchases'].mean()
subscription_status_relationship